<h1>ADD Courses</h1>
<form action="/course/add" method="post">
<style>
    *{
        background-color: antiquewhite;
    }
</style>
<p>
    <label style="font-weight: 600;">Course Name : </label> <input value="" name="courseName" style="padding: 10px; display:flex"/><br/>  
    <label style="font-weight: 600;"> Course ID : </label><input value="" name="courseId" style="padding: 10px; display:flex"/><br/>
    <label style="font-weight: 600;">Course Dept : </label><input value="" name="courseD ept" style="padding: 10px; display:flex"/><br/>
    <label style="font-weight: 600;">Course Fee : </label><input value="" name="courseFee" style="padding: 10px; display:flex"/><br/>
    <button type="submit" style="background-color: blue; color:aliceblue; border:none">ADD Course</button>
</p>

</form>